#colorBox {
  width: 400px;
  height: 300px;
  margin: 20px 0;
  margin-bottom: 30px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E581AD;
  transition: background-color 0.3s ease;
}

}
button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-size:16px;
}
